html body {
    height: 100%;
    width: 100%;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
}

section {
    margin: 10px 0px 10px 0px;
}

select {
    width: 100%;
    align-content: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.card {
    background-color: bisque;
    padding: 10px;
}